.container {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.v-slider-bloc {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 5px solid rgb(26, 25, 25);
    height: 100vh;
}

body {
    background-color: rgb(26, 25, 25);
}

h1 {
    color: white;
    background: rgb(68, 23, 231);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
}

nav.menu-nav ul li.btn{
    display: inline-block;
    list-style-type: none;
}

nav.menu-nav ul li.btn a {
    text-decoration: none;
    color: aqua;
    background-color: blue;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;
}

nav.menu-nav ul li.btn a:hover {
    text-decoration: none;
    color: aqua;
    background-color: rgb(22, 103, 170);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 10px;
    transition: 0.3sh1 {
        font-size: 100px;
        text-align: center;
    }
    
    ;
}
